.content-docs {
  max-width: 50px;
  text-align: center;
}
.num-docs {
  max-width: 50px;
  text-align: center;
}
.ma-cb {
  max-width: 100px;
  padding: 0 5px;
}
.s-email {
  max-width: 250px;
}
.s-role {
  width: 180px;
}
